<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:rim="http://www.blackberry.com/ns/widgets" id="apperyio-plugin-barcodescanner" version="1.0.0">
  <name>BarcodeScanner</name>
  <description>You can use the BarcodeScanner plugin to scan different types of barcodes (using the device's camera) and get the metadata encoded in them for processing within your application.</description>
  <license>MIT</license>
  <repo>https://github.com/apperyio/apperyio-plugin-barcodescanner</repo>
  <issue>https://github.com/apperyio/apperyio-plugin-barcodescanner/issues</issue>
  <dependency id="cordova-plugin-compat" version="^1.1.0"/>
  <preference name="CAMERA_USAGE_DESCRIPTION" default="Camera will be used by this app."/>
  <engines>
    <engine name="cordova" version="&gt;=3.0.0"/>
  </engines>
  <js-module src="www/barcodescanner.js" name="BarcodeScanner">
    <clobbers target="cordova.plugins.barcodeScanner"/>
  </js-module>
  <platform name="android">
    <source-file src="src/android/com/phonegap/plugins/barcodescanner/BarcodeScanner.java" target-dir="src/com/phonegap/plugins/barcodescanner"/>
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BarcodeScanner">
        <param name="android-package" value="com.phonegap.plugins.barcodescanner.BarcodeScanner"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="com.google.zxing.client.android.CaptureActivity" android:clearTaskOnLaunch="true" android:configChanges="orientation|keyboardHidden|screenSize" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:windowSoftInputMode="stateAlwaysHidden" android:exported="false">
        <intent-filter>
          <action android:name="com.google.zxing.client.android.SCAN"/>
          <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
      </activity>
      <activity android:name="com.google.zxing.client.android.encode.EncodeActivity" android:label="Share">
        <intent-filter>
          <action android:name="com.phonegap.plugins.barcodescanner.ENCODE"/>
          <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
      </activity>
      <activity android:name="com.google.zxing.client.android.HelpActivity" android:label="Share">
        <intent-filter>
          <action android:name="android.intent.action.VIEW"/>
          <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
      </activity>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.CAMERA"/>
      <uses-permission android:name="android.permission.FLASHLIGHT"/>
      <uses-feature android:name="android.hardware.camera" android:required="true"/>
    </config-file>
    <framework src="src/android/barcodescanner.gradle" custom="true" type="gradleReference"/>
    <resource-file src="src/android/barcodescanner-release-2.0.1.aar" target="libs/barcodescanner.aar"/>
  </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BarcodeScanner">
                <param name="ios-package" value="CDVBarcodeScanner"/>
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>$CAMERA_USAGE_DESCRIPTION</string>
        </config-file>
        <resource-file src="src/ios/barcode.bundle"/>
        <header-file src="src/ios/CDVBarcodeScanner.h"/>
         <source-file src="src/ios/CDVBarcodeScanner.m"/>
        <header-file src="src/ios/CDVBarcodeViewController.h"/>
        <source-file src="src/ios/CDVBarcodeViewController.m"/>
         <header-file src="src/ios/MTBBarcodeScanner.h"/>
         <source-file src="src/ios/MTBBarcodeScanner.m"/>
        <framework src="libiconv.dylib"/>
        <framework src="AVFoundation.framework"/>
        <framework src="AssetsLibrary.framework"/>
        <framework src="CoreVideo.framework"/>
        <framework src="QuartzCore.framework"/>
        <framework src="CoreGraphics.framework"/>
        <framework src="CoreImage.framework"/>
        <framework src="AudioToolbox.framework"/>
    </platform>
</plugin>
